# Ignore all files in the data/raw/ and data/processed/ directories
data/raw/
data/processed/
data_pipeline/config.json
data_pipeline/cookie.json
data_pipeline/session_cookies.pkl

# Optional: Ignore all .csv files
*.csv
*.pyc
*.png
*.json
*.gz
*.zip
*.xlsx
data_pipeline/pull_dec_29/profiling_output/aged_ar_report.csv_profiling.md
data_pipeline/pull_dec_29/profiling_output/integrated_payments_report.csv_profiling.md
data_pipeline/pull_dec_29/profiling_output/statement_submission_report.csv_profiling.md
Bar Chart for generatedFrom.png
Bar Chart for Chart Number.png
Bar Chart for First Visit.png
data_pipeline/Billing Dataset.xlsx
session_cookies.pkl
data_pipeline/Untitled-1.html
debug_output.txt
data_pipeline/pull_jan_17/candidate_plan_consolidation.xlsx
data_pipeline/pull_jan_17/~$candidate_plan_consolidation.xlsx
data_pipeline/debug_output.txt
data_pipeline/~$plan_consolidation_v1.xlsx
data_pipeline/plan_consolidation_v1.xlsx
data_pipeline/debug_output.txt
data_pipeline/debug_output.txt
data_pipeline/llm/Lib/*.*
data_pipeline/llm/Lib/*
data_pipeline/llm/Lib/site-packages/*.*
