# Ignore all files in the data/ and config/ directories
# This prevents committing PHI/PII, secret keys, and other sensitive information
# as well as large datasets that are not needed in the repository.
data/
config/

*.csv
*.pyc
*.txt
*.json
*.ipynb
*.png
*.json
*.gz
*.zip
*.xlsx
*.exe
*.html

# Ignore all files in the data_pipeline/llm/ directory
# This is to prevent committing large model files or temporary files
src/data_pipeline/llm/*