# Ignore all files in the data/raw/ and data/processed/ directories
data/raw/
data/processed/
data_pipeline/config.json
data_pipeline/cookie.json
data_pipeline/session_cookies.pkl

# Optional: Ignore all .csv files
*.csv
*.pyc